.linechart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.x-title,
.y-title {
  font-size: 0.75rem;
  color: #8c8c8c; }

.x-title {
  position: absolute;
  top: -5%;
  left: 10%; }

.y-title {
  position: absolute;
  bottom: -2%;
  right: 20%; }

.disclaimer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.75em;
  font-style: italic; }
