body {
  background-color: #EEEEEE; }

.App {
  background-color: #FFFFFF;
  color: #191919;
  margin: 2em;
  border-radius: 5em;
  padding: 2em; }

.topContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em; }
