@import "./variables.scss";

body {
  background-color: $background;
}

.App {
  background-color: $inner;
  color: $text;
  margin: 2em;
  border-radius: 5em;
  padding: 2em;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
